.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 1s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-to {
// .breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 1s;
}
